.main-area{
    margin: 0 5% 0;
    background-color: lightgrey;
    height: 800px;
    padding: 30px;
    min-width: 360px;
}

@media screen and (max-width: 600px){
  .main-area{
    margin: 0 1% 0;
    padding: 10px;
  }
}

.editor-switcher{
    width: 40%;
    min-width: 170px;
    margin: 5px auto 20px;
}

.editor-area{
    width: 60%;
    float: left;
    height: 385px;
    display: block;
}
@media screen and (max-width: 600px){
  .editor-area{
    width: 92%;
    margin: auto;
    float: none;
  }
}
.editors{
  width: 100%;
  height: 100%;
}
#the-simple{
    width: 96%;
    padding: 1%;
    resize: none;
    height: 96%;
}
#trum-edit{
  display: none;
}
#the-trumbowyg{
   background-color: lightgreen;
}

.editor-options{
     float: left;
     width: 30%;
     margin: 30px auto 0;
     text-align: center;
}

@media screen and (max-width: 600px){
  .editor-options{
    width: 90%;
    margin: 30px 4% 0;
    float: none;
  }
}







/*
.justcolor{
  background-image: linear-gradient(to right, #ffb05e , #ff984b);
  width: 100%;
  height: 300px;
  box-shadow: 0 0 10px;
}

#svg-right{
  float: right;
  margin: 60px 10px;
  opacity: 0.1;
  filter: blur(1px);
}
#svg-left{
  float: left;
  margin: 60px 10px;
  opacity: 0.2;
  width: 9%;
}
#svg-center{
  opacity: 0.1;
  margin: 20px;
  width: 75%;
  filter: blur(1px);
}




.main-editor-area{
  margin: 0 3% 0;
  background-color: lightgrey;
  padding: 30px;
  height: 700px;
}

.editor-switcher{
   margin: 0 10px;
   width: 100%;
}

.editors{
  height: 375px;
}

#trum-edit{
  display: none;
  background-color: lightgreen
}


.editor-area {
  width: 70%;
  min-width: 500px;
  float: left;
  margin-top: 40px;
}

@media screen and (max-width: 600px){
  .editor-area{
    width: 100%;
    min-width: 250px;
  }
}

.editor-options{
    margin: 40px 0;
    text-align: center;
    float: left;
    width: 28%;
}

@media screen and (max-width: 700px){
  .editor-options{
    width: 100%;
    float: none;
    margin-top: 90px;
  }
}




#editor-simple{
  width: 100%;
  height: 350px;
  resize: none;
}







box-sizing: border-box;
font-family: inherit;
font-size: inherit;
background: none;
cursor: pointer;
padding: 25px 80px;
display: inline-block;
margin: 15px 30px;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 700;
outline: none;
position: relative;
transition: all 0.3s;
border: 3px solid #fff;
color: #fff;
overflow: hidden;
*/
