body{
     background: url(bglogin-min.jpg);
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     opacity: 0.9
}

.heading-main h1{
    text-align: center;
    font-size: 90px;
    font-family: 'Annie Use Your Telescope';
    color: Cornsilk;
    text-shadow: 0 0 10px #fff, 0 0 15px #dc143c, 0 0 25px #ee4466, 0 0 35px #f48aa0, 0 0 50px crimson;
}

.content-main{
  margin: 50px auto 80px;
  height: 360px;
  width: 672px;
}

.content-main-inner{
  float: left;
}


.loginbox{
    width: 304px;
    height: 260px;
    color: #fff;
    text-align: center;
    /*
    top: 50%;
    left: 50%;
  position: absolute;
    transform: translate(0px,-110px);
    box-sizing: border-box;
    */
    padding: 30px 15px;
    border-left: 4px dashed rgb(88, 88, 128);
}


/*POPUP */

h2{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6em;
  color:Tomato;
}

.signbox{

  width: 304px;
  height: 260px;
  color: #fff;
  /*
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-300px,-110px);
  box-sizing: border-box;
  */
  padding: 30px 15px;
  text-align: center;
}

h3{
  text-align: center;
  font-size: 24px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  padding-top: 10px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 1% auto 10% auto; /* 5% from the top, 10% from the bottom and centered */
  border: 2px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  padding-right: 60px;
  padding-left: 60px;
  text-align: center;
}

/* Add padding to container elements */
.container {
  padding: 5px;
}

.clearfix{
  padding: 10px
}

.footer{

}
